/* desktop view */
@media(max-width:1280px){
    .chang5 img{
        width: 600px;
    }
}
/* ipad view */
@media(max-width:768px){
    .chang5 img{
        width: 400px;
    }
}
/* mobile view */
@media(max-width:400px){
    .chang5 img{
        width: 100px;
    }
}